.marker_info {
    width: 280px;
    height: 320px;
    border-radius: 3px;
    text-align: center;
    background: #FFF;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 9999999;
    font-family: "Montserrat", Arial, sans-serif;
         transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
	 -webkit-transition: all 0.5s ease-in-out;
	 -o-transition: all 0.5s ease-in-out;
}
.marker_info h3 {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.marker_info span {
    display: block;
    padding: 0px 20px;
    font-size: 12px;
    line-height: 16px;
    color: #7a7f82;
    margin-bottom: 15px;
}
#map{
	width:100%;
	height:450px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
}
label {
   cursor: pointer;
   }
.select2-choice {
    height: 34px !important;
    padding: 0px 0px 0px 33px !important;
    line-height: 33px !important;
}
.select2-container .select2-choice .select2-arrow b {
    margin-top: -2px !important;
}

.tooltip-content-flip {
    position: absolute;
    z-index: 9999;
    width: 80px;
    height: 80px;
    left: -40%;
    bottom: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    margin-bottom: 7px;
    cursor: default;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
        .itemscontainer .wishlist:before {
    font-style: normal;
    font-weight: normal;
    font-family: "icon_set_1";
    font-size: 30px;
    content: "\72";
    color: #fff;
    position: absolute;
    left: 0;
    top: 3px;
}
    .itemscontainer .wishlist a {
    color: #fff;
}
.wishlist a {
    color: #888;
    cursor: pointer;
    display: block;
}
    .itemscontainer .wishlist {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 30px;
    height: 30px;
    z-index: 2;
    font-size: 20px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #fff !important;
}

.img_list {
    overflow: hidden;
    min-height: 210px;
    text-align: center;
    position: relative;
}
.img_list a img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.img_list img {
    width: auto;
    height: 280px;
    position: absolute;
    left: -10%;
}
.img_list a:hover img{
	-webkit-transform:scale(1);
	transform:scale(1);
}

.strip_all_tour_list .wishlist a {
    color: #fff;
}
