/******global********/
@media only screen and (max-width : 768px) {
	.menuFooter {text-align:center;margin-bottom:8px}
		.menuFooter li{display:block; border:none}
	.copyright{text-align:center;padding-top:10px;border-top:1px solid #ffffff}
		.copyright_text{font-size:14px}
	}

@media only screen and (max-width : 360px) {
	h1.titre_page{font-size:27px}
	}
/***** PAGE LOGIN *****/
@media only screen and (max-width : 500px) {
	.loginBox{position:relative;top:auto;left:auto;margin:25px auto;}
		.log_lib{float:none;width:100%;text-align:left;}
		.input_log{float:none;width:100%;}
		.mdp_lost{margin:16px 0 0;}
	.footer_login{position:relative;}	
}
@media only screen and (max-width : 420px) {
	.headerContent{text-align:center;}
		.not_register_text{margin-bottom:10px;display:inline-block;}
	.actionLog{text-align:center;}
		.mdp_lost{float:none;}
		.connexion_bouton{float:none;display:block;width:100%;margin-bottom:15px;}
	.text_incription{padding:0 20px 20px;}
}

/***** PAGE LANDING *****/
@media only screen and (max-width : 768px) {
	h1.landing_title{margin:25px auto;font-size:40px;}
	.landingBox_lib{font-size:28px;}
	.landingBox_text{font-size:24px;}
	.landing_button .button span{font-size:24px;}
	.landingBox_content{min-height:185px;}
}
@media only screen and (max-width : 420px) {
	.login_bouton{display:block;max-width:90%;margin:0 auto 10px;}
	.voir_hotel_btn{display:block;max-width:90%;margin:0 auto;}
}

/***** Colonne gauche *****/
@media only screen and (max-width : 870px) {
	.box_left{display:none;}
}
@media only screen and (min-width : 768px) {
	.menuList{display:block!important;}
}
@media only screen and (max-width : 768px) {
	.headerContainer{display:none;}
	.navMobile{display:block;}
	.menuList{display:none;}
}

/***** Page choix statut *****/
@media only screen and (max-width : 830px) {
	.box_20{width:100%;float:none;margin-bottom:25px;}
	ul.statut_contenu li{text-align:center;}
}
@media only screen and (max-width : 768px) {
	.choice_profil_box .profil_rank{margin-top:20px;}
	.contenu_page {padding: 0 0 10px 10px;}
}
@media only screen and (max-width : 480px) {
	.logo_choice, .menu_choice, .help_header{text-align:center;}
}


/***** Page synthèse *****/
@media only screen and (max-width :900px) {
	.table_synthese table td{padding:10px 5px}
}
@media only screen and (max-width :500px) {
	.table_synthese table td{padding:5px 2px}
	.table_synthese table td.pi-text-left{padding-left:2px}
	.table_synthese, .lien_synthese{font-size:12px}
	.table_synthese .table_lib{font-size:14px}
}
@media only screen and (max-width :360px) {
.confirmed{padding-left:21px}
.non_confirmed{padding-left:5px}
.profilBox, .box_nobg{padding:10px 3px}
}
/***** Page chois statut 2 *****/
@media only screen and (max-width :600px) {
	.reserv_bouton{width:45%}
}
@media only screen and (max-width :460px) {
	.reserv_bouton{width:95%; margin:3px auto; display:block}
}

/***** Page avis *****/

@media only screen and (max-width :800px) {
	.bloc_synthese_per table td{padding:1px 2px}
}
@media only screen and (max-width :768px) {
	.avis_moisBit .pi-col-sm-9.pi-no-padding-left, .avis_moisBit .pi-col-sm-3.pi-no-padding-left {padding-left: 2% !important;}
	.action_avis_mois {margin: 10px 0;}
	}
@media only screen and (max-width :620px) {
	.board_avis {height: 165px;padding: 9px;width: 165px;font-size:12px}
}
@media only screen and (max-width :528px) {
	.board_avis {height: 150px;width: 150px;}
}
@media only screen and (max-width :480px) {
	.board_avis {border-radius: 10px;height: auto;margin: 10px auto;width: 90%;}
		.board_avis a {background-position: left center !important;padding: 10px 5px !important;}
		.board_avis span{padding:0}
		.bloc_synthese_per em {display:block}
}

@media only screen and (max-width :346px) {
.bloc_synthese_per table span {height: 20px;padding: 2px;width: 20px;}
}
@media only screen and (max-width :336px) {
.pi-inline {display: block;padding: 1px 0;}
}

/***** Page Devis facture *****/
@media only screen and (max-width :890px) {
.box_termes{max-width:80%}
}
@media only screen and (max-width :768px) {
.adress_devis_facture{margin-bottom:20px; text-align:center}
.lib_adress{margin-bottom:5px}
.descr_adress{margin-left:0}
}
@media only screen and (max-width :610px) {
	.bloc_resume_devis .pi-col-xs-4, .bloc_resume_devis .pi-col-xs-8 {float: none;width: 100%;}
	.box_termes{max-width:100%}
	.table_lignefacture table td{padding:5px}
	}
@media only screen and (max-width :480px) {	
adress_fact_Bit{margin-bottom:10px}
.tablo_devis_facture, .bloc_resume_devis{font-size:12px}
.tablo_devis_facture td.note_glob, .tablo_devis_facture .table_head{font-size:14px}
.pi-text-right.contenu_top_devis {text-align: center;}
.modifmail_facturation{position:relative}

}
@media only screen and (max-width :360px) {
	.localisation_adress span{display:inline-block}
		}

/***** Page Ligne facture *****/
@media only screen and (max-width :360px) {
	.modifmail_facturation {margin-top:10px}
.modifmail_facturation span{font-size:15px}
		}

/***** Page REJOIGNEZ NOUS *****/
@media only screen and (max-width :768px) {
.index_mode_Bit {border: 1px solid #e7d6ff;margin: 10px 0;}
	.content_descr{padding:0 10px}
.mode_desrc_Bit{margin-bottom:10px}
.bg_cosy img{max-width:100px}
		}		
@media only screen and (max-width :480px) {
.tablo_confiance table th, .tablo_confiance table td{padding:10px 3px; font-size:12px}
.tablo_confiance table td i{font-size:25px}
.tablo_confiance table td.td_central, .tablo_confiance table td.td_cosy{font-size:16px}
.titre_with_icon h1{font-size:28px}
.bg_cosy img{max-width:80px}
.titre_with_icon span,.information_confiance, .title_inscription{font-size:14px}
.titre_mode span{font-size:28px; }
.mode_title_Bit a{font-size:16px; line-height:normal}
.mode_desrc_Bit{font-size:12px}
.box_content_form .pi-col-3xs-4,.box_content_form .pi-col-3xs-8 {width: 100%;}
.box_content_form  .pi-col-3xs-6  {width: 100%;margin-bottom:5px}
}
@media only screen and (max-width :420px) {
	.information_confiance{background-position:top center;padding:185px 10px 10px}
	.modeemploi_gradient{text-align:center}

		}
/***********CHARGEMENT TARIF****************/	
@media only screen and (max-width : 768px) {
	.pi-col-sm-8.pi-no-padding-left {padding-left:2%!important;}
		.Content_tarifDispo {padding: 0 6px 10px;}
			.box_tempmin .pi-col-sm-2, .box_tempmin .pi-col-sm-3, .box_tempmin .pi-col-sm-5 {padding: 0 0 0 15px !important;}
				.box_tempmin .choiceBox > label {width: 45%;}
			.box_frais .pi-row .pi-col-sm-3 {padding: 0;}
				.box_frais .input_txt {max-width: 95%;}
			.date_dispo .date_box {margin: 5px 0;}
			.check_jour .checkBloc label {margin: 5px 22px 0 0;width: 41%;}
			.prix_standard_content{width:95%}
			.box_frais .pi-row {margin: 0;}
	}	
@media only screen and (max-width : 540px) {
	.entet_tablotarif font {display: none;}
	h1.titre_page {font-size: 27px;}
	.input_otherstandard, .prix_standard_content{width:95%}
	.tablo_tarifDispo .titre_violet{font-size:14px}
	}
/***********CREATION CHAMBRE****************/
@media only screen and (max-width : 1050px) {
	.helpBox_button.pi-pull-right, .action_chambre .bouton_form.pi-pull-left {float: none;margin: 5px auto;text-align: center;width: 100%;}
	.action_chambre .helpBox_button a, .action_chambre .button span {border-radius: 0;display: block;font-size: 20px;padding: 10px 0;margin:auto}
	.action_chambre .button{width:100%;max-width:520px }
	}
@media only screen and (max-width : 768px) {
	.Content_Creation_chambre{padding:0 6px}
	.content_detail_c .pi-row, .content_type_lit .pi-row {margin: 0;}
	.lien_addphoto{display:block; padding-top:58px;}
	.content_detail_c .pi-row, .content_type_lit .pi-row {margin: 0;}
	.Content_Creation_chambre .formContent .pi-row{margin:0}
}
@media only screen and (max-width : 480px) {
	.principalPhoto {margin: 10px auto;}
	}
	
/***********TARIF ET DISPO****************/
@media only screen and (max-width : 768px) {
	.Datechargement_tarif .date_box > label, .reservation_recherche.tarifDispo label {width: 121px;}
	.Datechargement_tarif .date_box{margin:5px 0}
	.tablo_tarifDispo .pi-col-xs-6 {padding: 10px 5px 10px 0;}
	.entet_tablotarif font{display:none}
	}
@media only screen and (max-width : 360px) {
	.Datechargement_tarif .date_input {width: 140px;}
	.reservation_recherche .pi-col-sm-3.pi-no-padding-left {text-align: center;}
		}
/***********VOS RESERVATIONs****************/	
@media only screen and (max-width : 768px) {
	.reservation_recherche .pi-text-right {text-align: center;}
	.reservation_recherche .pi-col-xs-3.pi-no-padding-left, .reservation_recherche .pi-col-xs-4 {width: 50%;}
	.reservation_recherche .pi-col-xs-5.pi-no-padding {width: 100%;}
	.tablo_recapitulatif_etat {padding: 0 9px;}
	}
@media only screen and (max-width : 620px) {
	.hide_620{display:none!important}
	}
@media only screen and (max-width : 500px) {
	.hide_500{display:none!important}
	}
@media only screen and (max-width : 472px) {
	.pi-row.pi-grid-small-margins .pi-col-xs-6 {text-align: center;padding:0 5px!important; margin-bottom:5px}
	.reservation_recherche .pi-col-xs-3.pi-no-padding-left, .reservation_recherche .pi-col-xs-4 {width:100%;margin:5px 0}
	}	
@media only screen and (max-width : 420px) {
	.hide_420{display:none!important}
	}
/***********ETAT CHAMBRe****************/	
@media only screen and (max-width : 700px) {
	.hide_700{display:none!important}
	.title_allo{padding:10px 0}

	.tablo_recapitulatif_etat .pi-no-padding-left {padding: 0 0 0 10px !important;}
	}	
@media only screen and (max-width : 360px) {
	.tablo_envente td {font-size:11px;padding: 5px 0;text-align: center;}
	.modif_tabMm a{width:20px; height:20px; background-size:100% auto}
	}
/***********ETAT CHAMBRe2****************/	
@media only screen and (max-width : 1050px) {
.action_chambre .bouton_form.pi-pull-right {float: none;width: 100%;}	
}
@media only screen and (max-width : 700px) {
.choix_chambre_img {float: none;width: 100%;}
.Content_Creation_chambre2 .Content_tarifDispo .pi-col-sm-4, .Content_Creation_chambre2 .Content_tarifDispo .pi-col-sm-8 {float: left;width: 50%;padding:0 15px}	
.Content_Creation_chambre2 .Content_tarifDispo{max-width:100%}
.Content_Creation_chambre2 .box_tempmin .choiceBox > label {width: 100%;}
.choix_chambre_2 {display: block;width: 100%;}
.reduction_appl {display: block;margin: 0;}
}
@media only screen and (max-width : 480px) {
.divers_check > img {display: none;}
.divers_check > span {margin: 0;}	
.divers_check span br{display:none}
.Content_Creation_chambre2  .form_cote{display:block}
.content_input{margin-left:0}
.Content_Creation_chambre2  .action_chambre .helpBox_button a,.Content_Creation_chambre2   .action_chambre .button span{font-size:16px}
}
/***********ETAT CHAMBRe BIS****************/	
@media only screen and (max-width : 980px) {
.rake_rate .pi-col-sm-4 {padding: 0;}	
}
@media only screen and (max-width : 768px) {
.content_composition_lit .pi-col-sm-6 {float: left;width: 50%;}	
.Content_Creation_chambre_BIS {padding: 0 15px;}
}
@media only screen and (max-width : 600px) {
.content_composition_lit .pi-col-sm-6 {float: none;width: 100%;}		
}

/***********SYNTHESE TARIF****************/
@media only screen and (max-width : 1050px) {	
.modification_rapide .pi-col-sm-3.pi-no-padding-right {float: none;width: 100%;}
.modification_rapide .pi-col-sm-3.pi-no-padding, .modification_rapide .pi-col-sm-6.pi-no-padding {margin: 5px 0;width: auto;}
}
@media only screen and (max-width : 768px) {
	.modification_rapide .pi-col-sm-3.pi-no-padding, .modification_rapide .pi-col-sm-6.pi-no-padding {display: inline-block;margin: 5px 0;width: auto;}
	.popup_box{margin-top:20px;}
	.close_popup {margin-right: -15px;right: 50%;}
}
@media only screen and (max-width : 680px) {
.hidden_680{display:none!important}	
.modification_rapide .pi-col-sm-3.pi-no-padding, .modification_rapide .pi-col-sm-6.pi-no-padding {display: block;margin: 5px 0;text-align: center;width: 100%;}	
}
@media only screen and (max-width : 480px) {
.hidden_480{display:none!important}	
}
@media only screen and (max-width : 380px) {

.inline_calendar {display: block;margin: 0 auto;vertical-align: middle;width: 100%;}
}